{% extends "index.html" %}

{% block title %}Login - My Website{% endblock %}

{% block content %}
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">Our Blog</h1>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="static/images/blog-img1.jpeg"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">PREP TECHNIQUES Coffee</h4>
                        <p class="lorem_text">Cold Brew: Smooth and Refreshing
 This method uses time rather than heat—coffee grounds steep in cold water for 12-24 hours, producing a drink that’s naturally sweet.

French press:Full-Bodied Flavour 
The French press is all about simplicity and depth. Coarse coffee grounds steep in hot water.

The Espresso Shot :Intense and Iconic
Espresso is the heart of our menu and the base for beloved drinks like lattes, cappuccinos, and macchiatos. 

Aero Press:Versatile and Quick
 This technique involves pouring hot water slowly and evenly over ground coffee, letting gravity do the work.

Ready to start brewing? Tell us your favorite method in the comments or ask our team for tips on your next visit.
</p>
                     </div>
                     <div class="read_btn"><a href="#">Read More</a></div>
                  </div>
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="static/images/blog-img2.png"></div>
                        <h4 class="date_text">05 April</h4>
                        <h4 class="prep_text">Enjoy Best Coffee</h4>
                        <p class="lorem_text">
At Coffo, we know that the best coffee is about more than just what’s in your cup. It’s about the feeling you get when you step inside—relaxing in a cozy corner, catching up with friends, or sharing a laugh with our friendly baristas.

Ready to discover your best coffee?
Stop by Coffo and let us craft your perfect cup.
</p>
                     </div>
                     <div class="read_btn"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      {% endblock%}