{% extends "index.html" %}

{% block title %}Coffee Offers{% endblock %}

{% block content %}
      <!-- coffee section start -->
      <div class="coffee_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="coffee_taital">OUR Coffee OFFER</h1>
               </div>
            </div>
         </div>
         <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-1.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">TYPES OF COFFEE</h3>
                                 <p class="looking_text">At Coffo, you can enjoy classics like espresso, cappuccino, and latte, or discover favorites like cold brew and flat white. Each type brings out different flavors and offers a new way to experience coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-2.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">BEAN VARIETIES</h3>
                                 <p class="looking_text">Behind every great cup is the bean.
 At Coffo, we rotate bean selections so you can always try something unique.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-3.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE & PASTRY</h3>
                                 <p class="looking_text">There’s something truly special about pairing a fresh pastry with your favorite coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-4.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE TO GO</h3>
                                 <p class="looking_text">Life gets busy, but great coffee should always be within reach. That’s why Coffo offers coffee to go—so you can bring a little warmth and comfort wherever your day takes you. Whether you’re heading to work, taking a walk, or just need a pick-me-up.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-1.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">TYPES OF COFFEE</h3>
                                 <p class="looking_text">At Coffo, you can enjoy classics like espresso, cappuccino, and latte, or discover favorites like cold brew and flat white. Each type brings out different flavors and offers a new way to experience coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-2.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">BEAN VARIETIES</h3>
                                 <p class="looking_text">Behind every great cup is the bean. 
At Coffo, we rotate bean selections so you can always try something unique</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-3.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE & PASTRY</h3>
                                 <p class="looking_text">There’s something truly special about pairing a fresh pastry with your favorite coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-4.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE TO GO</h3>
                                 <p class="looking_text">Life gets busy, but great coffee should always be within reach. That’s why Coffo offers coffee to go—so you can bring a little warmth and comfort wherever your day takes you. Whether you’re heading to work, taking a walk, or just need a pick-me-up.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-1.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">TYPES OF COFFEE</h3>
                                 <p class="looking_text"> At Coffo, you can enjoy classics like espresso, cappuccino, and latte, or discover favorites like cold brew and flat white. Each type brings out different flavors and offers a new way to experience coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-2.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">BEAN VARIETIES</h3>
                                 <p class="looking_text">Behind every great cup is the bean. 
At Coffo,we rotate bean selections so you can always try something unique.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-3.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE & PASTRY</h3>
                                 <p class="looking_text">There’s something truly special about pairing a fresh pastry with your favorite coffee.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="static/images/img-4.png"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">COFFEE TO GO</h3>
                                 <p class="looking_text">Life gets busy, but great coffee should always be within reach. That’s why Coffo offers coffee to go—so you can bring a little warmth and comfort wherever your day takes you. Whether you’re heading to work, taking a walk, or just need a pick-me-up.</p>
                                 <div class="read_bt"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- coffee section end -->
      {% endblock %}